<section class="gallerie">
  <div class="row large-up-3 medium-up-2 small-up-1">
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x227"><figcaption>test</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x227"><figcaption>test</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x227"><figcaption>test</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x227"><figcaption>test</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x227"><figcaption>test</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x227"><figcaption>test</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x227"><figcaption>test</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x227"><figcaption>test</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x227"><figcaption>test</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x227"><figcaption>test</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="http://placehold.it/410x227"><figcaption>test</figcaption></a></figure>
  </div>
</section>
